body{
    margin: 0;
}

/* CONTENEDOR */
.contenedor{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* PC */
.inicio{
    width: 100%;
    display: block;
}

/* MOBILE */
.mobile{
    width: 100%;
    display: none;
}

/* RESPONSIVE */
@media (max-width: 600px){
    .inicio{ display: none; }
    .mobile{ display: block; }
}

/* BOTÓN INSTAGRAM */
.btn-instagram{
    position: absolute;
    top: 21.1%;
    left: 9.4%;

    width: 15%;
    height: 50px; /* importante: no 2% */

    border-radius: 50px;
    background-color: transparent;
    transition: 0.3s;

    z-index: 10;
}

.btn-instagram:hover{
    background-color: rgba(255, 255, 255, 0.4);
}