body{
    margin: 0;
}

/* CONTENEDOR */
.contenedor{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* IMAGEN PC */
.inicio{
    width: 100%;
    display: block;
}

/* IMAGEN MÓVIL */
.mobile{
    width: 100%;
    display: none;
}

/* BOTÓN */
.btn-instagram{
    position: absolute;

    /* POSICIÓN EN PC */
    top: 21.2%;
    left: 8.9%;

    width: 220px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    background-color: #557440;

    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;

    transition: 0.3s;
    z-index: 10;
}

.btn-instagram:hover{
    background-color: rgba(202, 58, 58, 0.4);
}

/* MÓVIL */
@media (max-width: 600px){

    .inicio{
        display: none;
    }

    .mobile{
        display: block;
    }

    .btn-instagram{
        /* AJUSTA ESTOS VALORES A TU DISEÑO MÓVIL */
        top: 27%;
        left: 12%;

        width: 180px;
        height: 45px;

        font-size: 22px;
    }
}