body{
    margin: 0;
}

/* CONTENEDOR */
.contenedor{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* PC */
.inicio{
    width: 100%;
    display: block;
}

/* MOBILE */
.mobile{
    width: 100%;
    display: none;
}

/* RESPONSIVE */
@media (max-width: 600px){
    .inicio{ display: none; }
    .mobile{ display: block; }
}

/* BOTÓN INSTAGRAM */
.btn-instagram{
    position: absolute;
    top: 21.2%;
    left: 8.9%;

    width: 16%;
    height: 55px; /* importante: no 2% */

    border-radius: 50px;
    background-color: red;
    transition: 0.3s;

    z-index: 10;
}

.btn-instagram:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

        @media (max-width: 376px) {
    .btn-instagram {
        top: 220px;
        left: 37px;
        width: 85px;
        height: 25px
        
    }
        }

        @media (max-width: 360px) {
    .btn-instagram {
        top: 210px;
        left: 33px;
        width: 85px;
        height: 25px
        
    }
    }
    
    